
#############################################
## Unity proj

Temp
Logs
.history
.vs
.csproj.user
Library
Packages
UserSettings/EditorUserSettings.asset
Assets/TRTCSDK/SDK/Include/obj/xdoc/cache
*.cache
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.log
x64/
# x86/
*.DS_Store
*.apk